<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Oxygen·轻音乐</title>
        <link rel="stylesheet" href="./stylesheets/font-awesome.min.css" charset="utf-8">
        <link rel="stylesheet" href="./stylesheets/index.css" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="preview-container">
                <div class="lyrics">
                    <ul class="lyrics-ul">
                        <li>狼牙月 伊人憔悴</li>
                        <li>我举杯 饮尽了风雪</li>
                        <li>是谁打翻前世柜 惹尘埃是非</li>
                        <li>缘字诀 几番轮回</li>
                        <li class="current-lyrics">你锁眉 哭红颜唤不回</li>
                        <li>纵然青史已经成灰 我爱不灭</li>
                        <li>繁华如三千东流水</li>
                        <li>你发如雪 凄美了离别</li>
                        <li>我焚香感动了谁</li>
                        <li>邀明月 让回忆皎洁</li>
                        <li>爱在月光下完美</li>
                    </ul>
                </div>
            </div>
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress-bar-center">
                        <div class="progress-bar-all">
                            <div class="progress-bar-loading">
                                <div class="progress-bar-playing">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-start">
                    02:30
                </div>
                <div class="progress-end">
                    05:20
                </div>

            </div>
            <div class="controller">
                <div class="controller-song-info">
                    <span class="song-info-name">发如雪</span>
                    <span style="font-size: 2rem;color: rgb(22, 22, 22);">.</span>
                    <span class="song-info-singer">周杰伦</span>
                </div>
                <div class="controller-bar">
                    <i class="icon-random"></i>
                    <i class="icon-backward"></i>

                    <i class="icon-pause"></i>
                    <!-- <i class="icon-play"></i> -->

                    <i class="icon-forward"></i>

                    <!-- <i class="icon-volume-off"></i> -->
                    <!-- <i class="icon-volume-down"></i> -->
                    <i class="icon-volume-up">
                        <div class="vol-adjust">
                            <div class="vol-adjust-bar">
                                <i class="vol-adjust-btn"></i>
                            </div>
                        </div>
                    </i>
                </div>
            </div>
        </div>
        <script src="./javascripts/jquery-2.2.2.js"></script>
        <script src="./javascripts/Underscore.js"></script>
        <script src="./javascripts/Backbone.js"></script>
        <script src="./javascripts/Backbone.localStorage.js"></script>
        <script src="./javascripts/Nope.js"></script>
        <script src="./javascripts/index.js"></script>
        <script type="text/javascript">
            np.ajax({
                type: "GET",

                url: "/doGet",

                success: function(data) {
                    console.log(data);
                    console.log(this.timeout)
                },

                error: function(status) {
                    console.log(status);
                },

                async: true,

                timeout: 1000,

                ontimeout: function() {
                    console.log("timeout");
                }
            })
        </script>
    </body>
</html>
