<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>添加歌曲</title>
    </head>
    <body>
        <form action="/getSongList/insert" method="post">
            歌名：<input type="text" name="title" value="佚名">
            歌手：<input type="text" name="singer" value="佚名">
            歌曲链接：<input type="text" name="url" value="">
            歌词文件：<input type="text" name="lyrics" value="/lrc/">
            图片：<input type="text" name="image" value="">
            <input type="submit" name="submit" value="submit">
        </form>
    </body>
</html>
